footer{
    height: 160px;
    width: 100%;
    background-color: var(--secondary-dark);
    display: grid;
    grid-template-rows: auto 1fr;
}

.firstFooterSection{
    height: 120px;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.footerLogoSection{
    border-right: 1px solid black;
}

.githubSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.github{
    color: white;
}

.copySection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: var(--secondary-dark);
    border-top: 1px solid black;
}